

.featured{
  background-color: rgb(114, 227, 142);
}
li{
   list-style-type: none;
   border: dashed green;
}

img{
   max-width: 75px;
}

.table{
width: 70%;
margin: auto;
}


.recyclable{
border: dotted 2px black;
}

.card{
  border: 2px dotted black;
}
